<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Temperature</title>
  <meta name="description" content="Me">
  <meta name="author" content="Me">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body onload="myFunction()">
    <div class="">    
        <div class="container">
            <div class="page-header">
                Home Temperature
            </div>            
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h1 id="header" class="panel-title">How warm is the room</h1>
                    </div>
                    <div class="panel-body">
                        <div >
                            <p>The Legend</p>
                            <div  id="legendDiv" class="col-sm-4" />
                        </div>
                        <canvas id="myChart" width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js" integrity="sha256-c7xMHIas8tWM77oqZNaHmN2z7Jz91uNC+w8CYBdDtqg=" crossorigin="anonymous"></script>
  <script>
    function myFunction(){
        $.getJSON('api/temperature', temperature);

        function temperature(data) {
            var ctx = document.getElementById("myChart").getContext("2d");
            var obj = { labels: [], datasets: [{ 
                label: 'temperature',
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: []
            },{ 
                label: 'humidity',
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: []
            }]}

            for(var i = data.length-1; i > -1; i--) {
                var record = data[i];
                var calendarTitle = moment(record.createdDate).calendar(null, {
                    sameDay: '[Today at] HH:mm a',
                    nextDay: '[Tomorrow at] HH:mm a',
                    nextWeek: 'dddd [at] HH:mm a',
                    lastDay: '[Yesterday at] HH:mm a',
                    lastWeek: '[Last] dddd [at] HH:mm a',
                    sameElse: 'DD/MM/YYYY [at] HH:mm a'
                });
                obj.labels.push(calendarTitle)
                obj.datasets[0].data.push(record.temp)
                obj.datasets[1].data.push(record.humidity)
            }

            var options = {
                legendTemplate : "<ul class=\"list-group <%=name.toLowerCase()%>-legend\">" +
                                 "<% for (var i=0; i<datasets.length; i++){%>" +
                                 "<li class=\"list-group-item\" style=\"background-color:<%=datasets[i].strokeColor%>\">" +
                                    "<%if(datasets[i].label){%> <%=datasets[i].label%> <%}%>" +
                                 "</li>" +
                                 "<%}%>" +
                                 "</ul>"
            };
            var myLineChart = new Chart(ctx).Line(obj, options);
            var legend = myLineChart.generateLegend();
            document.getElementById("legendDiv").innerHTML = legend;
            
            var headerCtx = document.getElementById("header")
            headerCtx.innerText = "How warm is the room at " + moment().format('llll')

        }
    }

  </script>
</body>
</html>